.card-footer {
    /* padding: 0.35rem 1.25rem !important; */
    background-color:#fff !important;
    border: none !important;
}
.myArtical{
    margin-top: 10px;
}
.cursor{
    cursor: pointer;
}




.footerTxt{
    margin-left: 40px;
}
.footerTxt .primary{
    color: #007bff !important;
}
.container {
    margin-top:  10px !important;
}
.footerTxt .primary {
    color: #007bff !important;
    font-weight: bold;
    /* text-decoration: underline; */

}
.issueStatusDetail{
    /* border-top: 1px solid #d8dadc!important; */
    padding: 0px 15px;
}
.issueStatusDetail Form{
    margin: 15px;
}
.issueStatusDetail .updationBox {
    margin: 0px;
    border-top: 1px solid #d8dadc!important;
    padding: 0px 30px;
}
.issueStatusDetail .footer{
    padding: 0px 31px !important;
}
.issueStatusDetail Button {
    margin: 0px 0px;
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
}
.issueStatusDetail small{
    margin: 6px 3px;
    /* font-weight: bold; */
    display: inline-block;
}
.issueStatusDetail small, .issueStatusDetailtxt, .issueStatusDetailBtn{
    font-size: 75% !important;
}
.updatedWrap{
    background-color: #fff !important;
    border-top: 1px solid #d8dadc!important;
}

.issueLock {
    position: absolute;
    left: 15px;
    top: 0px;
    font-size: 25px;
    display: block;
    width: 31px;
    height: 36px;
}
.recLock{background: url(../../assets/images/Unlock.png) no-repeat scroll center center;}

.greenLock{background: url(../../assets/images/Lock.png) no-repeat scroll center center;}

.radioWrap{
    position: relative;
    top: 2px;
    left: 12px;
}
.cardWrap{
    padding: 10px;
    background-color: #dbdcde;
    border: 1px solid #cecece !important;
    /* border-bottom: none !important; */
}
.newBtn {
    margin-left: 6px;
    margin-right: 6px;
}
.listItm{
    max-height: 700px;
    overflow: auto;
    margin-top: 5px;
}
.padding_0{
    padding: 0px !important;
}
.addArticaleBtn{
    margin-left: 25px;
    margin-right: 25px;
    
}
.showDetails{
    position: absolute;
    right: 10px;
    top: 18px;
    
}
.card-header{
    cursor: pointer !important;
}
.showDetails:hover{
    color: #404448!important;
    text-shadow: 1px 1px 1px #ccc;
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.275rem 0.5rem 0.275rem 0.2rem !important;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color:#dbdcde !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
}
.input-group-text span {
    margin-left: 0.5rem;
}
.input-group-text i {
    margin-top: 0.1rem;
}


.card-header {
    /* padding: .35rem 1.25rem !important; */
    margin-bottom: 0;
    background-color:#d1e8fa !important;
    border-bottom: 0px solid #d8dadc!important;
    
    width: 100.01%;
    
    
}
.navbar-light .navbar-brand{
    color: #fff !important;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color: rgba(255, 255, 255, .8) !important;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff !important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255,.8) !important;
}
.hdrTxt {
    font-size: 16px !important;
    color: #000 !important;
    width: 91%;
    margin-left: 40px;
    position: relative;
    top: 3px;
    /* background: red; */
}
.margn_25{
 margin-left: 25px;
}

.text_14{
    font-size: 14px !important;
}
.btnSuccess {
    color: #fff !important;
    background-color: #168780 !important;
    border-color: #fff !important;
}
.btnSuccess:hover {
    color: #fff !important;
    background-color: #0e5450 !important;
    border-color: #fff !important;
}
.input-group{
    width: 35% !important;
    margin-right: 25px;
}
.lineData {
    margin: 0px 3px 0px 3px;
}
.grayData{
    color: #8d8d8d !important
}
.card-body {
    flex: 1 1 auto;
    padding: 0.3rem 1.25rem 0.8rem 1.25rem !important;
}
.border_radius_0{
    border-radius: 0px !important;
}

.issueStatusDetail .cardText{
    margin: 0px 0px 20px 0px !important;
    font-size: 14px !important;
}
.SoluctionHdr{
    font-size: 14px !important;
}
.issueStatusDetail .footerTxt{
    margin-left: 14px !important;
}
.txtbtnSuccess {
    
    color: #168780 !important;
    margin: 0px;
    width: auto;
    height: auto;
    padding: 7px 0px;
}
.txtbtnSuccess:hover {
    cursor: pointer;
    color: #0e5450 !important;
    
}
.input-group input{
    border-radius: 0px !important;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #f4f5f7 !important;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0rem !important;
    outline: 0;
}
.modal-header {
    display: flex;
    
    
    padding: 0.5rem 1rem !important;
    border-bottom: 1px solid #dee2e6;
    border-radius: 0rem !important;
    background-color: #3f91cb !important;
}

.detailForm{
    display: block !important;
}
.detailForm .close{
    display: none !important;
}
.detailForm .modal-header .modal-title{
    font-size: 16px !important; 
    color: #fff !important;
}
.modal-backdrop {
  
    background-color: #fff !important;
}
.modal-backdrop.show {
    opacity: .8 !important;
}
.statusradio {
    /* position: relative; */
    top: 11px;
}
.statusradio input:nth-child(2){ margin-left: 25px;}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    display: block !important;
}
.myArticalSubmitForm {
    background-color: #f4f5f7;
    border: 1px solid #cacaca;
    width: 50%;
    margin: 0px auto;
}
.myArticalSubmitForm h5{color: #fff;}
.updateFormmainWrap h5{color: #fff;}
.whiteBox {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    z-index: 1;
}
.abc{
    display: none;
}


.submitFormWrap {
    position: absolute !important;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 568px !important;
    /* display: block !important; */
}
.submitFormSubWrap{
    position: absolute;
    z-index: 2;
    left: 0px;
    width: 100%;
    top: 0px;
    background-color: transparent !important;
    border: none !important;
}

.custom-switch {
    
    float: left !important;
}
.updateFormSubWrap {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0px;
    
}
.UpdateBtn{
    background: url(../../assets/images/updateBtnActive.png) no-repeat scroll center center;
    width: 24px;
    height: 24px;
    float: right;
    margin-left: 14px;
}
.UpdateBtnDisable{
    background: url(../../assets/images/updateBtnDeactive.png) no-repeat scroll center center;
    width: 24px;
    height: 24px;
    float: right;
    margin-left: 14px;
    cursor: default !important;
}
.updateFormmainWrap {
   
    margin: 0px auto;
    width: 50%;
    
    background-color: #f4f5f7;
    border: 1px solid #cacaca;
}
.myArtical{margin: 0px auto;}
.ErrorMssg {
    margin: 0px auto;
    width: 50%;
    border-radius: 0px !important;
    z-index: 1;
}
.alert-success {
    color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
}
.AlertWrapError, .AlertWrapCorrect,.UpdatedWrapError,.UpdatedWrapCorrect{
    position: absolute;
    left: 0;
    top: 25%;
    display: none;
    z-index: 2;
    width:100%;
}
.alertBtnError,.alertBtnCorrect{
    float:right  !important;
}
.alert-success, .alert-danger,.alert-secondary{
overflow: hidden;
}
.alert{width:35%;}
.ErrorMssg{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
} 
.modal-header{
    width: 100.4%;
    margin: -1px 0px 0px -1px;
}
.btn {border-radius: 0 !important;}
.form-control {border-radius: 0 !important;}
pre {
    display: block;
    font-size: 14px !important;
    color: #3d4451 !important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}


.diable {
    float: right;
    color: #c2c2c2 !important;
    font-size: 24px;
    
    position: relative;
    bottom: 8px;
}

.leftTrace {
    float: right;
    color: #168780 !important;
    font-size: 24px;
    
    position: relative;
    bottom: 8px;
}
.leftTrace:hover{
    color: #0e5450 !important;
}
@media screen and (max-width: 1200px) {
    .container {max-width: 920px !important;}
    .updateFormmainWrap {width: 71%;}
    .myArticalSubmitForm {width: 71%;}
  }
  @media screen and (max-width: 992px) {
    .container {max-width: 920px !important;}
    .updateFormmainWrap {width: 71%;}
    .myArticalSubmitForm {width: 71%;}
    .disableItm{display: none !important;}
    .alert{width:40% !important;}
  }

  @media screen and (max-width: 768px) {
    
    .container {max-width: 100% !important;}
    .disableItm{display: none !important;}
    .updateFormmainWrap {width: 90%;}
    .myArticalSubmitForm {width: 90%;}
    .text-right {position: absolute; right: 10px;}
    .alert{width:50% !important;}
  }
  @media screen and (max-width: 576px) {
    .container{max-width: 100% !important;}
    .updateFormmainWrap {width: 60%;}
    .updateFormmainWrap {width: 90%;}
    .myArticalSubmitForm {width: 90%;}
    .alert{width:70% !important;}
    
  }