.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    
    background-clip: border-box;
    border: 1px solid #cecece !important;
    border-radius: 0px !important;
    background-color: #fff !important;
    /* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24) !important; */
    margin-bottom: 5px;
}


body {
    color: #3d4451 !important;
    background-color: #f4f5f7 !important;
}
.navbar {
        background-color: #3f91cb !important;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23) !important;
}
.bg-light {
    background-color: #fff !important;
}

